@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.favourites_item {
  position: relative;
  width: rem(300);
  min-height: rem(300);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);

  background-color: $color_light_orange;

  border-radius: rem(20);
  box-shadow: $boxshadow_big;
  padding-bottom: rem(20);
  margin-top: rem(30);
  .description {
    width: 100%;
    padding-left: rem(20);

    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  & div:nth-child(1) {
    height: rem(200);
    width: rem(200);
    border-radius: 50%;
    position: relative;
    left: -25%;
    top: -10%;

    box-shadow: $boxshadow_big;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 80%;
    }
  }

  .favourites_buttons {
    min-width: 50%;
    min-height: 50%;
    display: flex;
    flex-direction: column;

    position: absolute;
    top: rem(-30);
    right: 0;
    & div:nth-child(1) {
      opacity: 0;
      border: 1px solid $color_darken_red;
      background-color: $color_light_red;
      margin-top: rem(20);

      width: rem(50);
      height: rem(50);
      fill: $color_darken_red;
      svg {
        animation: favourite-pulse 1s ease-in-out infinite;
      }
    }
    & button:nth-child(2) {
      opacity: 0;
      margin-top: rem(20);

      width: rem(70);
      height: rem(70);
      border-radius: 50%;
    }
    & button:nth-child(3) {
      opacity: 0;
      margin-top: rem(20);

      width: rem(35);
      height: rem(35);
      border-radius: 50%;
    }
  }
  &:hover {
    transform: scale(1.1);
    z-index: 10;

    .favourites_buttons {
      min-width: 50%;
      min-height: 50%;
      display: flex;
      flex-direction: column;

      position: absolute;
      top: rem(-30);
      right: 0;
      & div:nth-child(1) {
        opacity: 1;
        border: 1px solid $color_darken_red;
        background-color: $color_light_red;
        margin-top: rem(20);
        margin-left: rem(60);
        width: rem(50);
        height: rem(50);
        fill: $color_darken_red;
        svg {
          animation: favourite-pulse 1s ease-in-out infinite;
        }
      }
      & button:nth-child(2) {
        opacity: 1;
        margin-top: rem(20);
        margin-left: rem(50);
        width: rem(70);
        height: rem(70);
        border-radius: 50%;
      }
      & button:nth-child(3) {
        opacity: 1;
        margin-top: rem(20);
        margin-left: rem(15);
        width: rem(35);
        height: rem(35);
        border-radius: 50%;
      }
    }

    .special_order {
      opacity: 0;
    }
  }
}
.special_order {
  position: absolute;
  width: 40%;
  right: 0;
  top: rem(80);
  &_icon {
    position: absolute;
    top: rem(-60);
    right: 0;

    & div:nth-child(1) {
      height: rem(50);
      width: rem(50);
      box-shadow: none;
      fill: $color_darken_red;
      opacity: 0.3;
      &:hover {
        cursor: default;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: rem(20);
  }
  li {
    line-height: rem(20);
    font-size: rem(12);
    font-style: italic;
    font-weight: bold;
    text-decoration: line-through;
    color: $color_darken_red;
  }
}
@keyframes favourite-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
