@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.nav_cart {
  display: flex;
  justify-content: center;
  position: relative;

  min-height: rem(50);
  font-size: rem(16);
  font-weight: 500;

  @include informer("cart");
}
.nav_cart_pricetag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1 0 auto;

  min-width: rem(40);

  transform: translatex(rem(-15));
}

.nav_cart_count {
  background-color: $color_darken_brown;
  width: 100%;
  color: wheat;
  padding: 0 rem(20);

  border-radius: 0 0 rem(10);
}
.nav_cart_cost {
  border: 1px solid $color_darken_brown;
  width: 100%;
  padding: 0 rem(20);

  border-radius: 0 rem(10) 0;
}

.none {
  display: none;
}
