@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.select_wrapper_big {
  width: rem(320);
  margin: 0 auto;
  position: relative;
}

.select_wrapper_small {
  width: rem(120);
  margin: 0 auto;
  position: relative;
}
.select_options {
  min-width: 100%;
  position: absolute;
  border-radius: rem(10);
  padding: rem(10) rem(5);
  margin-top: rem(5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: rem(5);
  background: radial-gradient($color_light_orange, $color_EX_darken_orange);
  box-shadow: $boxshadow_big;
  z-index: 10;
}
.select_option {
  padding: 0 rem(5);
  border: 1px solid $color_darken_brown;
  border-radius: rem(20);
  min-width: rem(40);
  height: rem(40);
  line-height: rem(40);
  font-size: rem(14);
  text-align: center;
  font-weight: bold;
  background-color: $color_light_orange;

  &:hover {
    border: 1px solid $color_light_orange;
    background-color: $color_darken_brown;
    color: $color_light_orange;
    cursor: pointer;
    box-shadow: $boxshadow_big;
  }
}
.select_option_active {
  padding: 0 rem(5);
  border: 1px solid $color_darken_brown;
  border-radius: rem(20);
  min-width: rem(40);
  height: rem(40);
  line-height: rem(40);
  font-size: rem(14);
  text-align: center;
  font-weight: bold;
  background-color: $color_darken_orange;
}

.btns {
  min-width: 100%;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & div:nth-last-child(2) {
    transform: rotate(180deg);
  }
}

li[data="depricated"] {
  opacity: 0.5;
}
