@import "../../Style/variables.scss";
@import "../../Style/mixins.scss";

.cart_item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 60%;

  padding: 10px;
  background-color: $color_light_whiteHeader;
  border-radius: 10px;
  box-shadow: $boxshadow_big;

  &_description {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    min-width: 250px;

    &_title {
      display: flex;
      flex-direction: column;
      gap: 10px;

      min-width: 100px;
      span {
        background-color: $color_darken_orange;
        text-align: center;
        border-radius: 10px;
      }
      .discount {
        font-size: 14px;
        color: $color_darken_red;
        text-decoration: line-through;
      }
    }
  }

  &_setting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    strong {
      text-align: center;
      min-width: 20px;
    }
  }
  .cart_item_specialOreder {
    position: relative;
    min-width: 150px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    font-weight: bold;
  }
  .specialOrder_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    input {
      display: none;
    }
    label {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input[type="checkbox"]:checked + label {
      svg {
        transform: rotate(180deg);
      }
      .specialOrder_list {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .specialOrder_list {
    width: 100%;
    display: none;
    span {
      font-size: 12px;
      text-decoration: line-through;
      color: $color_darken_red;
    }
  }

  @media only screen and (max-width: 950px) {
    width: 95%;
  }
  @media only screen and (max-width: 680px) {
    flex-wrap: wrap;

    &_setting {
      width: 95%;
      justify-content: center;
      align-items: center;
    }
  }
}
