@import "../../Style/variables.scss";
@import "../../Style/mixins.scss";

.cart_item {
  display: flex;
  justify-content: space-between;
  min-width: 50%;

  padding: 10px;
  background-color: $color_light_whiteHeader;
  border-radius: 10px;
  box-shadow: $boxshadow_big;

  &_description {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    min-width: 250px;

    &_title {
      display: flex;
      flex-direction: column;

      min-width: 100px;
      span {
        margin-bottom: 10px;
        background-color: $color_darken_orange;
        text-align: center;
        border-radius: 10px;
      }
      .discount {
        font-size: 14px;
        color: $color_darken_red;
        text-decoration: line-through;
      }
    }
  }

  &_setting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    width: 180px;

    strong {
      text-align: center;
      min-width: 40px;
    }
  }
  .cart_item_specialOreder {
    min-width: 150px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-weight: bold;

    span {
      font-size: 12px;
      text-decoration: line-through;
      color: $color_darken_red;
    }
  }
  @media only screen and (max-width: 980px) {
    min-width: 80%;
  }
  @media only screen and (max-width: 680px) {
    flex-direction: column;
    min-width: 95%;

    &_description {
      align-items: center;
    }
    .cart_item_specialOreder {
      margin-left: 120px;
    }
    &_setting {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
