@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.wrapper {
  display: flex;
  flex: 1 0 auto;
  column-gap: rem(20);
  margin-left: rem(10);
}

.item {
  @include nav_itemCreator(60, 100, $color_darken_orange, 40);

  &_active {
    @include nav_itemCreator(60, 100, $color_darken_orange, 40);
    background-color: $color_darken_orange;

    svg {
      opacity: 1;
      fill: $color_darken_brown;
    }
  }
}
@media only screen and (max-width: rem(950)) {
  .item {
    font-size: rem(14);
  }
}
