@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.favourite_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 auto;
    h3 {
      font-size: rem(24);
    }
    svg {
      fill: $color_darken_red;

      &:hover {
        cursor: default;
      }
    }
  }
}
.special_excluded {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  span {
    text-decoration: line-through;
    color: $color_darken_red;
  }
}

.favourite_btn {
  position: absolute;
  right: 60px;
}
