.scroll_top {
  position: fixed;
  bottom: 15%;
  right: 20px;

  z-index: 5;
  transform: rotate(-45deg);

  animation: showUP 0.3s ease-in-out;
  svg {
    animation: scrollTop 2s linear infinite;
  }
  @keyframes showUP {
    0% {
      transform: scale(0);
      transform: rotate(-45deg);
    }

    100% {
      transform: scale(1);
      transform: rotate(-45deg);
    }
  }

  @keyframes scrollTop {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(0.7);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}
