@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.big {
  @include iconCreator(60, $color_darken_brown, $color_darken_orange);
}
.mid {
  @include iconCreator(50, $color_darken_brown, $color_darken_orange);
  background-color: $color_darken_orange;
}
.small {
  @include iconCreator(30, $color_darken_brown, $color_darken_orange);
  border: none;
  padding: 0;
  &:hover {
    background-color: transparent;
    box-shadow: none;
  }
}
.count {
  @include iconCreator(40, $color_darken_brown, transparent);

  background-color: $color_darken_brown;
  border-radius: 50%;
  padding: rem(5) rem(8);
  fill: lighten($color_darken_brown, 30);
  box-shadow: $boxshadow_big;
}

.order-status {
  height: rem(80);
  width: rem(80);

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: $color_darken_orange;
}
/// custom informers

.favourite {
  @include iconCreator(35, $color_darken_red, lighten($color_darken_red, 30));
  padding: rem(5);
  border-radius: rem(10);
  svg {
    transform: translatex(rem(5));
    transform: translatey(rem(3));
  }
  &:hover {
    &::after {
      position: absolute;
      top: 130%;
      content: "Add to Favourites";
      min-width: rem(50);

      text-align: center;
      font-size: rem(10);
      font-weight: bold;
      background-color: transparent;
    }
  }
}
.ratings {
  @include iconCreator(
    35,
    $color_EX_darken_orange,
    lighten($color_EX_darken_orange, 40)
  );
  padding: rem(5);
  border-radius: rem(10);

  &:hover {
    &::after {
      position: absolute;
      top: 130%;
      content: "Rate this product!";
      min-width: rem(50);

      text-align: center;
      font-size: rem(10);
      font-weight: bold;
      background-color: transparent;
    }
  }
}
.attention {
  @include iconCreator(35, $color_darken_orange, $color_light_orange);
  padding: rem(5);
  &:hover {
    &::after {
      position: absolute;
      top: 130%;
      content: "Allergic sensitive";
      min-width: rem(50);

      text-align: center;
      font-size: rem(10);
      font-weight: bold;
      background-color: transparent;
    }
  }
}
.vegitarian {
  @include iconCreator(35, green, lighten(green, 30));
  padding: rem(5);
  &:hover {
    &::after {
      position: absolute;
      top: 130%;
      content: "Vegitarian";
      min-width: rem(50);

      text-align: center;
      font-size: rem(10);
      font-weight: bold;
      background-color: transparent;
    }
  }
}
.scroll-top {
  @include iconCreator(50, $color_darken_brown, $color_darken_orange);
  background-color: $color_darken_orange;
  box-shadow: $boxshadow_big;
}

.discount {
  @include iconCreator(35, $color_darken_red, lighten($color_darken_red, 30));
  padding: rem(5);
  border-radius: rem(10);
  border: none;
  svg {
    transform: translatex(rem(5));
    transform: translatey(rem(3));
  }
  &:hover {
    &::after {
      position: absolute;
      bottom: rem(-20);
      content: "Discounted";
      min-width: rem(50);

      text-align: center;
      font-size: rem(10);
      font-weight: bold;
      background-color: transparent;
    }
  }
}
.settings {
  @include iconCreator(80, $color_darken_brown, transparent);
  padding: 0;
}
