@import "../../Style/mixins.scss";
@import "../../Style/Variables.scss";

.pre_order {
  display: flex;
  align-items: center;
  flex-direction: raw;
  flex-wrap: wrap;
  gap: rem(5);

  min-height: rem(40);
}
.pre_order_header {
  display: flex;
  align-items: center;
  gap: rem(10);

  h4 {
    margin-left: rem(20);
  }
}
.pre_order_confirmation {
  padding: 0 rem(20);
  color: $color_darken_red;
  font-weight: bold;
}
.switch {
  position: relative;

  height: rem(20);
  width: rem(60);

  background-color: $color_light_orange;
  border: 1px solid $color_darken_brown;
  border-radius: rem(20);
  padding: 1px;

  &:hover {
    cursor: pointer;
  }
}
.switch_btn {
  height: rem(15);
  width: rem(15);

  background-color: $color_darken_brown;
  border-radius: rem(20);

  &_active {
    height: rem(15);
    width: rem(15);

    border: 1px solid $color_darken_brown;
    border-radius: rem(20);
    background-color: $color_darken_orange;
    box-shadow: $boxshadow_big;

    transform: scale(1.5) translate(rem(27));
  }
}
.pre_order_time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: rem(10);

  .pre_order_day {
    display: flex;
    gap: rem(20);
    margin-left: rem(10);
  }
}
@media only screen and (max-width: rem(610)) {
  .pre_order {
    margin: auto;
    width: 60%;
    flex-direction: column;
    gap: rem(20);
  }
  .pre_order_time {
    width: 100%;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: rem(450)) {
  .pre_order {
    width: 100%;
  }
  .pre_order_time {
    width: 100%;
    flex-wrap: wrap;
  }
}
