@import "../../Style/variables.scss";
@import "../../Style/mixins.scss";

.cartItems_container {
  width: 100%;
  min-height: 100%;
  padding: rem(10) 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  gap: rem(15);
}

.cart_totals {
  margin: 0 auto;
  width: 60%;
  min-height: rem(30);
  padding: rem(5) rem(20);
  line-height: rem(30);

  display: flex;
  justify-content: center;
  gap: rem(5);

  background-color: $color_light_orange;
  box-shadow: $boxshadow_big;
  border-radius: rem(20);

  font-size: rem(14);
  font-weight: bold;
  span {
    margin: 0 rem(10);
    font-size: rem(16);
    font-weight: 400;
    font-style: italic;
  }
}

.cart_buttons {
  width: 60%;
  margin: rem(10) auto;

  display: flex;
  justify-content: space-around;
  gap: rem(20);

  button {
    width: rem(150);
  }
}

@media only screen and (max-width: rem(850)) {
  .cart_totals {
    flex-direction: column;
  }
  .cart_buttons {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: rem(500)) {
  .cart_totals {
    width: 90%;
  }
}
