@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.small {
  min-width: rem(100);
  height: rem(70);
  border-radius: rem(5);
  overflow: hidden;
  img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 60%;
  }
}
.hint {
  opacity: 0;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.6);
  color: wheat;
  font-size: rem(14);
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;

  transition: all 0.2s ease-in;
  cursor: pointer;
}
.mid {
  position: relative;
  min-width: 100%;
  height: 50%;
  overflow: hidden;
  box-shadow: $boxshadow_big;
  &:hover .hint {
    opacity: 1;
  }
  img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 60%;
    &:hover {
      cursor: pointer;
    }
  }
}

.big {
  min-width: rem(500);
  height: rem(350);
  border-radius: rem(5);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 60%;
  }
}
@media only screen and (max-width: rem(950)) {
  .big {
    min-width: 90vw;
    height: 50vw;
    object-fit: cover;
  }
}
