@import "../../Style/variables.scss";
@import "../../Style/mixins.scss";

.count {
  position: absolute;
  bottom: 0;
  right: 15px;
  animation: cart-slide 0.3s ease-in;

  span {
    position: absolute;
    right: -10px;
    top: -5px;
    background-color: lighten($color_darken_brown, 30);
    border-radius: 5px;
    min-width: 20px;
    text-align: center;
    font-weight: 500;
  }

  @keyframes cart-slide {
    0% {
      opacity: 0;
      transform: translatex(-30px);
    }
    100% {
      opacity: 1;
      transform: translatex(0);
    }
  }
}
