@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.container {
  width: 100%;
  min-height: 60%;
  padding: 10px;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  button {
    width: 150px;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 40px;
      height: 40px;

      animation: checkout-anim 3s linear infinite alternate;

      @keyframes checkout-anim {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(45deg);
        }
      }
    }
  }
}
.content {
  min-width: 50%;
  min-height: 50%;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding: 5px 20px;
  line-height: 40px;

  background-color: $color_light_orange;
  box-shadow: $boxshadow_big;
  border-radius: 20px;

  font-size: rem(14);
  font-weight: bold;
  span {
    margin-left: 10px;
    font-size: rem(16);
    font-weight: 400;
    font-style: italic;
  }

  p {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  ul {
    display: none;
    margin-bottom: 10px;
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    ul {
      display: block;
    }
    p {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  li {
    min-height: 25px;
    line-height: 25px;
    font-style: italic;
    border-bottom: 1px dashed $color_darken_brown;
    span {
      font-size: rem(12);
      color: $color_darken_red;
      text-decoration: line-through;
      font-weight: bold;
    }
  }
}
.payment {
  width: 100%;
  display: flex;
  gap: 30px;

  span {
    min-width: 200px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border: 1px solid $color_darken_brown;
    border-radius: 20px;
    box-shadow: $boxshadow_big;
    cursor: pointer;

    font-size: rem(12);
    text-transform: uppercase;
    font-style: normal;
    &:hover {
      background-color: lighten($color_darken_brown, 40);
    }
  }
  .active {
    background-color: $color_darken_brown;
    color: $color_light_orange;

    transform: scale(1.1);
    svg {
      fill: $color_light_orange;
    }
    &:hover {
      background-color: $color_darken_brown;
    }
  }
}

.btns {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .payment {
    flex-direction: column;
    gap: 10px;

    span {
      width: 150px;
    }
  }
  .btns {
    flex-direction: column-reverse;
    align-items: center;
  }
}
