@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.checkout_container {
  width: 70%;
  margin: 0 auto;
}
.checkout_content {
  min-width: 50%;
  min-height: 50%;
  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout_item {
  width: 100%;
  @include line-item;

  ul {
    display: none;
    margin-bottom: 10px;
  }
  label {
    div {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    ul {
      display: block;
    }

    svg {
      transform: rotate(180deg);
    }
  }

  li {
    min-height: 25px;
    line-height: 25px;
    font-style: italic;
    border-bottom: 1px dashed $color_darken_brown;
    span {
      font-size: rem(12);
      color: $color_darken_red;
      text-decoration: line-through;
      font-weight: bold;
    }
  }
}

.checkout_buttons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;

  button {
    width: 150px;
  }
}

@media only screen and (max-width: 610px) {
  .checkout_container {
    width: 100%;
  }
  .checkout_buttons {
    flex-direction: column-reverse;
    align-items: center;
  }
}
