@import "../../Style/variables.scss";
@import "../../Style/mixins.scss";

.dishCard_skeleton_mid {
  min-width: rem(280);
  height: rem(400);
  background-color: $color_light_whiteHeader;
  border-radius: rem(10);
  box-shadow: $boxshadow_big;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  .image {
    animation: skeleton-loading 1s linear infinite alternate;
    width: 100%;
    height: 50%;
  }

  .description {
    width: 70%;
    margin-top: rem(10);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(15);
    flex: 1 0 auto;
  }
  .fields {
    animation: skeleton-loading 1s linear infinite alternate;
    display: flex;
    width: 100%;
    height: rem(20);
    border-radius: rem(20);
  }

  .btn {
    animation: skeleton-loading 1s linear infinite alternate;
    width: 80%;
    height: rem(30);
    border-radius: rem(20);
  }
}

.dishCard_skeleton_big {
  display: flex;
  gap: rem(20);
  margin: rem(10) auto;
  width: 98%;
  height: 100%;
  flex: 1 0 auto;
}
.big_left {
  width: 36%;
  min-height: 75vh;
  border-radius: rem(10);
  display: flex;
  flex-direction: column;
  gap: rem(20);

  &_item_1 {
    width: 100%;
    height: rem(350);
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: rem(10);
  }
  &_item_2 {
    width: 100%;
    flex: 1 0 auto;
    background-color: white;
    border-radius: rem(10);
    display: flex;
    padding: rem(20);
    justify-content: space-around;

    &_btns {
      border-radius: rem(20);
      align-self: flex-end;
      width: rem(150);
      height: rem(40);
      animation: skeleton-loading 1s linear infinite alternate;
    }
  }
}
.big_right {
  width: 64%;
  height: 85vh;
  border-radius: rem(10);
  background-color: white;
  padding: rem(10);
  display: flex;
  flex-direction: column;

  gap: rem(20);

  &_item {
    width: 99%;
    height: rem(40);
    animation: skeleton-loading 1s linear infinite alternate;
    border-radius: rem(20);
  }
  &_item_bot {
    width: 99%;
    height: rem(400);

    border-radius: rem(20);
    margin-top: rem(40);
    animation: skeleton-loading 1s linear infinite alternate;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(39, 20%, 60%);
  }
  100% {
    background-color: hsl(39, 20%, 90%);
  }
}
@media only screen and (max-width: rem(900)) {
  .dishCard_skeleton_big {
    width: 98%;
    flex-direction: column;
  }
  .big_left {
    width: 98%;
    margin: 0 auto;
    &_item_1 {
      height: 30vh;
    }
    &_item_2 {
      padding: rem(5);
      gap: rem(10);
    }
  }
  .big_right {
    width: 98%;
    margin: 0 auto;
  }
}
