@import "../Style/mixins.scss";
@import "../Style/variables.scss";

.settings_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  width: 60%;
}

.settings_content {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .settings_content_item {
    @include line-item;
    width: 45%;
    b {
      position: absolute;
      right: 10%;
      color: $color_darken_red;
      font-size: rem(12);
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

address {
  @include line-item;
  width: 100%;
  font-style: normal;
}

.settings_buttons {
  display: flex;
  gap: 20px;
  button {
    width: 150px;
  }
}
@media only screen and (max-width: 950px) {
  .settings_container {
    width: 100%;
  }

  .settings_content {
    flex-direction: column;
    width: 95%;
    .settings_content_item {
      width: 100%;
    }
  }

  address {
    width: 95%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
  }

  .settings_buttons {
    flex-direction: column;
  }
}
