@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.special_order {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(10);
  flex: 1 0 auto;

  text-shadow: $boxshadow_big;
  border-radius: rem(10);

  .ingredients {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
  }

  .ingredient {
    position: relative;

    width: 100%;
    height: rem(30);
    line-height: rem(30);
    padding-left: 10%;

    display: flex;

    &:hover {
      cursor: pointer;
      background-color: wheat;

      color: $color_darken_red;
      text-decoration: line-through;
    }
  }

  label {
    width: 100%;
    padding-left: 5%;

    cursor: pointer;
  }
  input {
    display: none;
  }

  input[type="checkbox"]:checked + label {
    color: $color_darken_red;
    text-decoration: line-through;
    &::before {
      content: "-";
      position: absolute;
      top: 20%;
      left: 0;

      width: rem(20);
      height: rem(20);
      line-height: rem(20);

      font-size: rem(14);
      font-weight: bold;
      text-align: center;

      background-color: $color_darken_red;
      color: wheat;
      border-radius: 50%;
    }
  }
}
