@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.sizes {
  display: flex;
  align-items: flex-end;
  gap: 5px;
  height: rem(80);
  margin-top: 10px;
}
.size {
  position: relative;
  background-color: $color_darken_orange;

  height: rem(30);
  min-width: rem(85);
  line-height: rem(30);
  text-align: center;

  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}

.price {
  position: absolute;
  display: flex;
  flex-direction: column;

  min-width: 100%;
  height: 50px;
  padding: 5px;
  top: -200%;

  background-color: $color_light_orange;
  box-shadow: $boxshadow_big;
  border-radius: 20px;

  span {
    position: absolute;
    z-index: 1;

    transform: rotate(10deg);
    right: -5px;
    bottom: 0;
    opacity: 0.9;
  }
}
.actual_price {
  z-index: 2;
  flex: 2;
  text-align: center;

  font-size: rem(16);
  font-weight: bold;
}
.discounted_price {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 25%;
  flex: 1;

  border-radius: 50%;

  font-size: 12px;
  text-decoration: line-through;
  color: $color_darken_red;
  font-weight: bold;
}

.not_visible {
  display: none;
}
