@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.payment_section {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: rem(10);

  min-width: 100%;
  min-height: rem(50);
  line-height: rem(40);
  padding: rem(5) rem(20);

  background-color: $color_light_orange;
  box-shadow: $boxshadow_big;
  border-radius: rem(20);

  h4 {
    font-size: rem(14);
    min-width: 15%;
  }
}

.payment_btns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  gap: rem(20);
  margin-bottom: rem(20);
}
.credit_card {
  max-width: rem(320);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);
  margin: rem(10) auto;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.card_valid {
  display: flex;
  gap: rem(5);
}

.slider {
  margin: 0 auto;
  width: 100%;
  padding: rem(3);
  height: rem(20);
  background-color: $color_darken_brown;
  border-radius: rem(10);
  box-shadow: $boxshadow_big;
}
.slider_bar {
  border-radius: rem(10);
  background: $color_gradient;
  height: 90%;
}
.processing {
  position: absolute;
  top: rem(5);
  right: rem(20);
  color: $color_darken_red;
  font-weight: bold;
  font-size: rem(14);
}

@media screen and (max-width: rem(400)) {
  .credit_card {
    width: 100%;
  }
  .card_valid {
    flex-direction: column;
  }
}
