@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.payment_section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 100%;
  min-height: 50px;
  padding: 5px 20px;
  line-height: 40px;

  background-color: $color_light_orange;
  box-shadow: $boxshadow_big;
  border-radius: 20px;
  h4 {
    font-size: rem(14);
    min-width: 15%;
  }
}

.payment_btns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  gap: 20px;
  margin-bottom: 20px;
}
.credit_card {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px auto;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.card_valid {
  display: flex;
  gap: 5px;
}

.slider {
  margin: 0 auto;
  width: 100%;
  padding: 3px;
  height: 20px;
  background-color: $color_darken_brown;
  border-radius: 10px;
  box-shadow: $boxshadow_big;
}
.slider_bar {
  border-radius: 10px;
  background: $color_gradient;
  height: 90%;
}
.processing {
  position: absolute;
  top: 5px;
  right: 20px;
  color: $color_darken_red;
  font-weight: bold;
  font-size: rem(14);
}

@media screen and (max-width: 400px) {
  .credit_card {
    width: 100%;
  }
  .card_valid {
    flex-direction: column;
  }
}
