@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.toast_container {
  position: fixed;
  right: rem(-250);
  top: 30%;
  width: rem(250);
  min-height: rem(40);
  padding: rem(5);
  z-index: 20;

  display: flex;
  flex-direction: column;
  gap: rem(10);
}

.toast {
  right: rem(-250);
  top: 20%;
  width: rem(250);
  height: rem(40);
  padding-left: rem(20);
  z-index: 20;

  color: $color_darken_green;
  font-weight: bold;

  border-left: rem(10) solid $color_darken_green;
  border-radius: rem(5) rem(20) rem(20) rem(5);
  background-color: rgba($color: $color_light_green, $alpha: 0.8);

  animation: toast-fadein 2s ease;

  display: flex;
  align-items: center;
  gap: rem(10);
  svg {
    fill: $color_darken_green;
    animation: toast-svg 1s ease-in-out;
  }

  @keyframes toast-fadein {
    0% {
      transform: translateX(0px);
    }
    30% {
      transform: translateX(rem(-280));
    }
    80% {
      transform: translateX(rem(-280));
    }
    100% {
      transform: translateX(0px);
    }
  }
  @keyframes toast-svg {
    0% {
      transform: scale(0);
    }
    30% {
      transform: scale(0);
    }
    75% {
      transform: scale(1.5);
    }
    80% {
      transform: scale(1.5);
    }
    90% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
}
