@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.recent_orders {
  h3 {
    margin: 20px 0;
    text-align: center;
  }
  table {
    margin: 0 auto;
    text-align: left;
    width: 98%;
    background-color: $color_light_orange;
    border-radius: 20px;
    border-spacing: 3px;

    padding: 10px 20px;
  }
  thead {
    height: 30px;
  }
  tbody {
    font-style: italic;
    td {
      border-bottom: 1px dashed red;
    }
    tr:hover {
      background-color: $color_darken_orange;
      cursor: pointer;
    }
  }
  .status {
    color: $color_darken_red;
    font-weight: bold;
  }
  .status_done {
    color: $color_darken_green;
    font-weight: bold;
  }

  @media only screen and (max-width: 750px) {
    thead {
      th:nth-child(3) {
        display: none;
      }
      th:nth-child(4) {
        display: none;
      }
    }
    tbody {
      td:nth-child(3) {
        display: none;
      }
      td:nth-child(4) {
        display: none;
      }
    }
  }
}

.check_list {
  background-color: $color_light_orange;
  width: 80%;

  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px 0;
  font-style: italic;
  li {
    min-height: 20px;
    line-height: 20px;
    font-size: rem(14);
    border-bottom: 1px dashed $color_darken_red;

    span {
      font-size: rem(12);
      font-weight: bold;
      color: $color_darken_red;
      text-decoration: line-through;
    }
  }
}
@media only screen and (max-width: 550px) {
  .recent_orders {
    h3 {
      font-size: rem(16);
    }
    font-size: rem(14);
  }
  .check_list {
    width: 100%;
  }
}
