@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.non_active {
  opacity: 0.5;
}
.notification {
  z-index: 10;
  width: 100%;
}
.pending_order {
  position: relative;
  margin: 0 auto;
  width: 80%;
  min-height: rem(50);

  display: flex;
  justify-content: space-between;

  .slider {
    position: absolute;
    top: rem(70);

    width: 100%;
    height: rem(20);

    margin: 0 auto;
    padding: rem(3);

    background-color: $color_darken_brown;
    border-radius: rem(10);
    box-shadow: $boxshadow_big;
  }
  .slider_bar {
    border-radius: rem(10);
    background: $color_gradient;
    height: 90%;
  }

  p {
    position: absolute;
    bottom: rem(-25);
    left: 40%;
    color: $color_darken_red;
    font-style: italic;
    font-weight: bold;
    font-size: rem(14);
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: rem(14);
  font-weight: bold;

  div {
    position: relative;

    width: rem(80);
    height: rem(80);

    z-index: 5;
    margin: rem(20) 0;
    padding: rem(5);
  }
  span {
    div {
      transform: rotate(25deg);
      padding-top: rem(20);
      padding-left: rem(20);
    }
    svg {
      transform: scale(2.7);

      z-index: 10;
    }
  }

  strong {
    position: absolute;
    top: rem(-50);
    left: rem(-60);
    svg {
      fill: $color_darken_green;
      width: rem(30);
      height: rem(30);
    }
  }
}

.wrapper {
  position: absolute;
  top: 20%;

  width: rem(100);
  height: rem(100);

  border: rem(5) solid $color_darken_brown;
  border-radius: 50%;
  background-color: $color_darken_brown;

  z-index: 1;
}
.wrapper_active {
  position: absolute;
  top: 20%;

  width: rem(100);
  height: rem(100);

  border: 2px solid $color_darken_brown;
  border-radius: 50%;
  background-color: $color_darken_brown;
  background: $color_gradient;
  z-index: 1;

  box-shadow: $boxshadow_big;
}
.item_active {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: rem(14);
  font-weight: bold;

  svg {
    fill: $color_darken_brown;
  }

  div {
    position: relative;
    width: rem(80);
    height: rem(80);

    margin: rem(20) 0;
    padding: rem(5);

    z-index: 5;
  }
  span {
    div {
      transform: rotate(25deg);
    }
    svg {
      transform: scale(2);
      position: absolute;
      top: rem(50);
      left: rem(55);
      z-index: 10;
    }
  }
  strong {
    position: absolute;
    top: rem(-50);
    left: rem(-60);
    svg {
      fill: $color_darken_green;
      width: rem(30);
      height: rem(30);
    }
  }
}

.spinner {
  position: absolute;
  top: 14%;

  width: rem(120);
  height: rem(120);

  border-bottom: rem(5) solid $color_darken_red;
  border-top: rem(5) solid $color_darken_red;
  border-radius: 50%;
  background-color: transparent;

  z-index: 10;

  animation: spiner 3s linear infinite alternate;
}

@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1800deg);
  }
}

@media only screen and (max-width: rem(650)) {
  .pending_order {
    width: 99%;

    .slider {
      width: 88%;
      margin-left: rem(20);
    }
    p {
      left: 10%;
    }
  }
  .item {
    transform: scale(0.5);
  }
  .item_active {
    transform: scale(0.5);
  }
}
