@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.search {
  position: relative;

  height: rem(50);
  margin: rem(5);

  display: flex;
  align-items: center;
  justify-content: center;

  .input {
    height: rem(40);
    width: rem(200);
    padding: 0 rem(40);

    transform: translatex(rem(-20));
    border-radius: rem(15);
    background-color: $color_light_orange;
    border: 1px solid $color_darken_brown;
    color: $color_darken_brown;
  }

  & div:nth-child(3) {
    position: absolute;
    right: 10%;
  }
}
