@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.container {
  position: relative;
  svg {
    opacity: 0.8;
  }
}
.label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: rem(280);
  margin: rem(5) auto;

  svg {
    position: absolute;
    right: rem(10);

    fill: $color_darken_green;
    height: rem(25);
    width: rem(25);
  }
}

.custom_input {
  height: rem(40);
  min-width: 100%;
  padding: 0 rem(50);
  border-radius: rem(10);
  box-shadow: $boxshadow_small;
  &:focus {
    background-color: lighten(blue, 45);
    &::placeholder {
      color: $color_darken_brown;
    }
  }

  &_invalid {
    height: rem(40);
    min-width: 100%;
    padding-left: rem(50);
    border-radius: rem(10);

    box-shadow: $boxshadow_small;
    outline: 2px solid $color_darken_red;
    &:focus {
      background-color: lighten(blue, 45);
      &::placeholder {
        color: $color_darken_brown;
      }
    }
  }
}
.icon {
  svg {
    position: absolute;
    left: rem(10);
    bottom: 10%;
    height: rem(30);
    width: rem(30);
    margin: 0;
    fill: $color_darken_brown;
  }
}
