@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.container {
  position: relative;
  svg {
    opacity: 0.8;
  }
}
.label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  margin: 5px auto;

  svg {
    position: absolute;
    right: 10px;

    fill: green;
    height: 25px;
    width: 25px;
  }
}

.custom_input {
  height: 40px;
  min-width: 100%;
  padding: 0 50px;
  border-radius: 10px;
  box-shadow: $boxshadow_small;
  &:focus {
    background-color: lighten(blue, 45);
    &::placeholder {
      color: $color_darken_brown;
    }
  }

  &_invalid {
    height: 40px;
    min-width: 100%;
    padding-left: 50px;
    border-radius: 10px;

    box-shadow: $boxshadow_small;
    outline: 2px solid red;
    &:focus {
      background-color: lighten(blue, 45);
      &::placeholder {
        color: $color_darken_brown;
      }
    }
  }
}
.icon {
  svg {
    position: absolute;
    left: 10px;
    bottom: 10%;
    height: 30px;
    width: 30px;
    margin: 0;
    fill: $color_darken_brown;
  }
}
