@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.product_container {
  width: 98%;
  height: 100%;
  margin: rem(10) auto;

  display: flex;
  flex: 1 0 auto;
  gap: rem(20);
}
.btns {
  width: 100%;

  display: flex;
  justify-content: space-around;
}

.informers {
  position: absolute;
  top: rem(10);
  right: rem(100);
  padding-right: rem(60);

  display: flex;
  gap: rem(10);
}
.product_left {
  width: rem(500);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: rem(10);
}

.product_right {
  position: relative;

  padding: rem(10) rem(10);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: rem(10);

  background-color: white;
  border-radius: rem(10);
  box-shadow: $boxshadow_big;
}
@media only screen and (max-width: rem(980)) {
  .product_container {
    flex-direction: column;
    .product_left {
      width: 100%;
    }
    .btns {
      gap: rem(5);
      position: fixed;
      bottom: rem(20);
      z-index: 10;
      background-color: rgba($color: #bc7503, $alpha: 0.4);
      height: rem(50);
      align-items: center;
      button {
        background-color: $color_darken_orange;
      }
    }
  }
}
@media only screen and (max-width: rem(500)) {
  .informers {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: rem(30);
  }
}
