@import "../Style/variables.scss";
@import "../Style/mixins.scss";

.wrapper_main {
  background: $color_gradient;
  padding: 10px 0px;
  width: 100%;
  min-height: 100vh;
}
.content {
  width: 98%;
  min-height: calc(100vh - 20px);
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  border-radius: 10px;
  overflow: auto;
  box-shadow: $boxshadow_big;
  background-color: $color_transparent_BG;
}
.content_wrapper {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: calc(100vh - 170px);
  flex: 1 0 auto;
}
.header {
  background-color: $color_light_whiteHeader;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: $boxshadow_small;
  padding: 10px;
  gap: 10px;
  .profile_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 auto;
    gap: 10px;
    min-width: rem(250);

    .nav_logout {
      position: relative;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include informer("log out");
    }
  }

  @media only screen and (max-width: 630px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .profile_wrapper {
      justify-content: center;
    }
  }
}

.navbar {
  background-color: $color_light_whiteHeader;
  box-shadow: $boxshadow_small;
  min-height: rem(130);
  padding: 10px;
  .items {
    display: flex;
    column-gap: 10px;
    overflow-x: auto;
  }
}

.footer {
  margin-top: 10px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 50px;

  background-color: $color_light_whiteHeader;

  b {
    font-size: rem(14);
  }
  span {
    font-size: rem(12);
    font-weight: bold;
    font-style: italic;
    color: $color_darken_red;
  }
  @media only screen and (max-width: 450px) {
    flex-direction: column;
  }
}

.page_wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .page_header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin: 10px 0px;
    &_img {
      width: 50px;
      height: 50px;

      animation: img-animation 5s linear infinite alternate;

      @keyframes img-animation {
        0% {
          transform: scale(1);
        }
        10% {
          transform: scale(1.5);
        }
        25% {
          transform: scale(1);
        }
        50% {
          transform: scale(1);
        }
        75% {
          transform: scale(1);
        }
        85% {
          transform: scale(1.3) rotate(45deg);
        }
        100% {
          transform: scale(0.8) rotate(-45deg);
        }
      }
    }
  }

  .list {
    width: 100%;
    min-height: 60vh;
    padding: 0px 10px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: 20px;
  }
  .catalog {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    margin-bottom: 10px;

    @media only screen and (max-width: 1350px) {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 20px;
      grid-column-gap: auto;
      grid-row-gap: auto;
    }

    @media only screen and (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 680px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
