@import "../Style/variables.scss";
@import "../Style/mixins.scss";

.wrapper_main {
  width: 100%;
  min-height: 100vh;
  padding: rem(10) 0;

  background: $color_gradient;
}
.content {
  width: 98%;
  min-height: calc(100vh - rem(20));
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  border-radius: rem(10);
  overflow: auto;
  box-shadow: $boxshadow_big;
  background-color: $color_transparent_BG;
}
.content_wrapper {
  min-width: 100%;
  min-height: calc(100vh - rem(170));

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.header {
  padding: rem(10);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: rem(10);

  background-color: $color_light_whiteHeader;
  box-shadow: $boxshadow_small;

  .profile_wrapper {
    min-width: rem(250);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 auto;
    gap: rem(10);

    .nav_logout {
      position: relative;

      width: rem(50);
      height: rem(50);

      display: flex;
      justify-content: center;
      align-items: center;

      @include informer("log out");
    }
  }

  @media only screen and (max-width: rem(630)) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .profile_wrapper {
      justify-content: center;
    }
  }
}

.navbar {
  min-height: rem(130);
  padding: rem(10);

  background-color: $color_light_whiteHeader;
  box-shadow: $boxshadow_small;

  .items {
    display: flex;
    column-gap: rem(10);

    overflow-x: auto;
  }
}

.footer {
  min-width: 100%;
  min-height: rem(50);

  margin-top: rem(10);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(10);

  background-color: $color_light_whiteHeader;

  b {
    font-size: rem(14);
  }
  span {
    font-size: rem(12);
    font-weight: bold;
    font-style: italic;
    color: $color_darken_red;
  }
  @media only screen and (max-width: rem(450)) {
    flex-direction: column;
  }
}

.page_wrapper {
  width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .page_header {
    margin: rem(10) 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20);

    &_img {
      width: rem(50);
      height: rem(50);

      animation: img-animation 4s ease-in-out infinite alternate;

      @keyframes img-animation {
        0% {
          transform: scale(1);
        }
        10% {
          transform: scale(1.3);
        }
        15% {
          transform: scale(1);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }

  .list {
    width: 100%;
    min-height: 60vh;
    padding: 0 rem(10);
    margin-bottom: rem(20);

    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: rem(20);
  }
  .catalog {
    margin-bottom: rem(20);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: rem(30);
    grid-row-gap: rem(30);

    @media only screen and (max-width: rem(1350)) {
      padding: 0 rem(20);

      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: auto;
      grid-row-gap: auto;
    }

    @media only screen and (max-width: rem(1150)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: rem(680)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
