@import "../../Style/variables.scss";
@import "../../Style/mixins.scss";

.root {
  position: relative;

  width: rem(200);
  height: rem(40);
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: rem(20);

  fill: $color_darken_brown;

  b {
    color: $color_darken_brown;
    text-transform: uppercase;
    font-weight: bold;
    font-size: rem(16);
    text-shadow: $boxshadow_small;
    &:hover {
      cursor: pointer;
    }
  }
  .selected {
    transform: rotateX(180deg);
  }

  label {
    width: rem(30);
    height: rem(30);

    flex: 0 0 auto;

    background-color: $color_darken_orange;
    border-radius: rem(10);

    &:hover {
      cursor: pointer;
      box-shadow: $boxshadow_big;
    }
  }
}
