@import "../../Style/variables.scss";
@import "../../Style/mixins.scss";

.dishCards {
  margin-top: rem(20);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dishCards_container {
  padding: 0 rem(30);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: rem(30);
  grid-row-gap: rem(30);

  margin-bottom: rem(10) x;

  @media only screen and (max-width: rem(1350)) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 rem(20);
    grid-column-gap: auto;
    grid-row-gap: auto;
  }

  @media only screen and (max-width: rem(1150)) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: rem(680)) {
    grid-template-columns: repeat(1, 1fr);
  }
}
