@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";
.settings_container {
  width: 60%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
}

.settings_content {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  gap: rem(10);

  .settings_content_item {
    width: 45%;

    @include line-item;

    b {
      position: absolute;
      right: 10%;
      color: $color_darken_red;
      font-size: rem(12);
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

address {
  @include line-item;
  width: 100%;
  font-style: normal;
}

.settings_buttons {
  display: flex;
  gap: rem(20);
  button {
    width: rem(150);
  }
}
@media only screen and (max-width: rem(950)) {
  .settings_container {
    width: 100%;
  }

  .settings_content {
    flex-direction: column;
    width: 95%;
    .settings_content_item {
      width: 100%;
    }
  }

  address {
    width: 95%;
    min-height: rem(100);
    display: flex;
    flex-direction: column;
  }

  .settings_buttons {
    flex-direction: column;
  }
}
