@import "../../Style/mixins.scss";
@import "../../Style/variables.scss";

.slider_container {
  position: relative;

  width: 100%;
  height: 40vh;

  display: flex;

  overflow: hidden;
}
.slider_item {
  position: relative;

  min-width: 100%;
  height: 100%;

  display: flex;
  gap: 20px;

  transition: transform ease-out 0.8s;

  img {
    min-width: 100%;
    height: 100%;

    border-radius: rem(10);
    object-fit: cover;
    object-position: 50% 60%;
  }
}

.switch {
  width: 100%;
  height: rem(30);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(5);

  border-radius: rem(20);
}
.switch_item {
  height: rem(10);
  width: rem(10);

  border-radius: 50%;
  background-color: $color_light_orange;
  border: 1px solid $color_darken_brown;
  cursor: pointer;

  &_active {
    height: rem(10);
    width: rem(10);

    border-radius: 50%;
    background-color: $color_darken_brown;
    box-shadow: $boxshadow_big;

    transform: scale(1.3);
  }
}

.prev {
  margin-right: rem(20);

  background-color: transparent;

  transform: rotate(180deg);
  z-index: 10;

  svg {
    height: rem(20);
    fill: $color_darken_brown;
  }
  &_disabled {
    margin-right: rem(20);

    background-color: transparent;
    opacity: 0.5;

    transform: rotate(180deg);
    z-index: 10;
    svg {
      height: rem(20);

      fill: grey;
      cursor: default;
    }
  }
}
.next {
  margin-left: rem(20);

  background-color: transparent;

  svg {
    height: rem(20);
    fill: $color_darken_brown;
  }
}

@media only screen and (max-width: rem(980)) {
  .slider_container {
    width: 95vw;
    height: 60vw;
  }
}
